
@import "colors";
@import "media-queries";


.navbar{
    
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 20px 40px;
    color: $text-color;
    
    .active{
        color: $primary-color;
    }

    &-logo{
        width: 140px;
        border-radius: 50%;

        &:hover{
            transform: scale(1.1);
            transition: .5s;
        }

        @include tablet{
            width: 120px;
        }
        @include mobile{
            width: 100px;
        }
    }

    &-links{
        display: flex;
        align-items: center;
    li{
        margin: 0 30px;
     
        & a:hover{
            color: $primary-color;
            border: 4px solid $primary-color;
            padding: 5px;
            
        }
        @include tablet{
            margin: 30px auto;
        }
        @include mobile{
            margin: 30px auto;
        }

    }

    @include tablet{
        display: none;

        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: var(--secondary-color);
        transition: all .5s ease;
        margin-top: -900px;
    }

    @include mobile{
        display: none;

        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: var(--secondary-color);
        transition: all .5s ease;
        margin-top: -900px;
    }
    }




    &-menu-btn{
        display: none;
        cursor: pointer;

        @include tablet{
            display: block;
            width: 40px;
        }
        @include mobile{
            display: block;
            width: 30px;
        }
    }

    @include tablet{
        padding: 20px 20px;
    }
    @include mobile{
        padding: 20px 20px;
    }
    
}