@import 'colors';
@import "media-queries";

.tours{
    display: flex;
    

    &-content{
        display: flex;
        flex-direction: row;
        align-items: center;

        &-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-size: 5vmin;
        color: $primary-color;
        margin-bottom: 50px;
        }

        p{
            @include tablet{
                text-align: center;
            }
            @include mobile{
                text-align: center;
            }
        }

        .btn{
            margin-top: 50px;

            @include tablet{
                margin-bottom: 20px;
            }
            @include mobile{
                margin-bottom: 20px;
            }
 
        }

       
        }

        &-right{

            display: grid;
            grid-template-columns: 1fr 1fr;
       

            img{
               
                
                border-radius: 10px;


                &:hover{
                    transform: scale(1.1);
                    transition: .3s;
                    cursor: pointer;
                }
                @include tablet{
                    width: 100%;
                    padding: 10px;
                    
                    
                    
                }
                @include mobile{
                    width: 100%;
                    padding: 10px;
                    
                }

            }

           
        }

        @include tablet{
            display: block;
            
        }
        @include mobile{
            display: block;
            
        }
    }

 

   
}